<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Gnr">

	<select id="readAll"
			parameterType="com.ktdsuniversity.admin.gnr.vo.GnrVO"
			resultType="com.ktdsuniversity.admin.gnr.vo.GnrVO">
		<include refid="Common.page_header"></include>
		SELECT G.GNR_ID
			 , G.GNR_NM
			 , TO_CHAR(G.CRT_DT, 'YYYY-MM-DD HH24:MI:SS') CRT_DT
			 , G.CRTR
			 , TO_CHAR(G.MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') MDFY_DT
			 , G.MDFYR
			 , G.USE_YN
			 , G.DEL_YN
		  FROM GNR G
		 INNER JOIN MBR CRT_M
		    ON G.CRTR = CRT_M.MBR_ID
		 INNER JOIN MBR MDFY_M
		    ON G.MDFYR = MDFY_M.MBR_ID
		WHERE G.DEL_YN = 'N'
		<if test='gnrNm != null and gnrNm != ""'>
		  AND G.GNR_NM LIKE '%' || #{gnrNm} || '%'
		</if>
		ORDER BY G.GNR_ID ASC
		<include refid="Common.page_footer"></include>
	</select>
	<select id="readOneByGnrNm"
			parameterType="string"
			resultType="_int">
		SELECT COUNT(1)
		  FROM GNR
		WHERE GNR_NM = #{_parameter}
	</select>



	<insert id="createOneGnr"
			parameterType="com.ktdsuniversity.admin.gnr.vo.GnrVO">
		INSERT INTO GNR
		     ( GNR_ID
		     , GNR_NM
		     , CRT_DT
		     , CRTR
		     , MDFY_DT
		     , MDFYR
		     , USE_YN
		     , DEL_YN)
		      VALUES
		     ( SEQ_GNR_PK.NEXTVAL
		     , #{gnrNm}
		     , SYSDATE
		     , #{crtr}
		     , SYSDATE
		     , #{mdfyr}
		     , NVL(#{useYn}, 'N')
		     , 'N' )
	</insert>

	<update id="updateOneGnr"
			parameterType="com.ktdsuniversity.admin.gnr.vo.GnrVO">
		UPDATE MOVIE.GNR 
		   SET GNR_NM=#{gnrNm}
		     , MDFY_DT= SYSDATE
		     , MDFYR=#{mdfyr}
		     , USE_YN=NVL(#{useYn},'N')
	     WHERE GNR_ID=#{gnrId}
	</update>
	
	<update id="deleteOneGnr"
			parameterType="_int">
		UPDATE MOVIE.GNR 
		   SET DEL_YN='Y'
	     WHERE GNR_ID IN #{_parameter}
	</update>
	
	<update id="deleteSelectAll"
			parameterType="arraylist">
		UPDATE MOVIE.GNR 
		   SET DEL_YN='Y'
	     WHERE GNR_ID IN 
		<foreach item="gnrId" collection="list"
		    open="(" separator=", " close=")">
		     #{gnrId}
		</foreach>
	     
	</update>

</mapper>
